# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
env/
venv/
*.env

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Spark
spark/spark-logs/
spark-warehouse/
*.log
spark-events/
history-server/

# Iceberg / data
warehouse/
data/
storage/
*.parquet
*.csv

# Docker
*.dockerignore
docker-compose.override.yml
docker-compose.*.yml
**/Dockerfile.*

# OS files
.DS_Store
Thumbs.db
*.swp
*.swo

# IDEs
.vscode/
.idea/
*.iml


notebooks/spark-warehouse/
notebooks/.ipynb_checkpoints/
notebooks/spark-warehouse/

storage